@charset "UTF-8";
/*
em HTML é id e em CSS é # (só pode um elemento)
em HTML é class em CSS é . (pode vários elementos)
*/
body{
    background-color:#4bff4b59 ;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
   color: #475447; 
}
h2{
    color: #4bff4b;
}
h1#principal{
    text-align: center;
    background-color: #475447;
    color: white;
}
.basico{
    color: #4bff4b ;
}
.intemediario{
    color: #deff4b
}
.avançado{
        color: #ff4b4b
}

