@charset "UTF=8";
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-image:  url("img/espaco300.jpg");
    min-height: 100vh;
    background-position: center center;
    background-size: cover ;
    
}
img{
  
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 10%;
    

    
}