@charset "UTF-8";

/*Estilos para impreesora*/

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}
menu{
    display: none;
}
article::after{
    content: 'Esse site foi criado dia 12/10/2026 pelo autor Enzo';
}
article{
    width: 100%;
}